body {
    margin: 0;
    padding: 0;
    font-family: '游明朝 Medium', serif;
  }
  
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .ul1 {
    list-style: none;
  }

  .news {
    border-bottom: 2px solid #000000;
    margin-bottom: 0px;
    display: inline-block; /* 必要なのはこれだけです */
    padding-bottom: 0px;
  }

  .MAIN-main img {
    width: 400px;
    height: auto;
    padding-bottom: 20px;
    margin-top: 10px;
    display: block; /* 必要なのはこれだけです */
    margin-right: auto;
    margin-left: auto;
  }
  

  .category {
    text-align: center;
  }

  .cate-main  {
    border-bottom: 2px solid #000000;
    display: inline-block;
  }

  .CATEGORY-menu {
    font-size: 15px;
    padding-bottom: 30px;
  }

  .CATEGORY-menu p{
    border-bottom: 2px solid #000000;
    display: inline-block;
  }


  /* containerクラスのCSSを指定してください */
  .top-wrapper h1 {
    opacity: 0.7;
    padding: 0 0 30px 0;
  }
  
  /* top-wrapperクラスのCSSを指定してください */
  .top-wrapper {
    width: 2000px;
    padding: 60px 0 30px 0;
    background-image: url(https://prtimes.jp/i/9612/458/resize/d9612-458-179312-3.jpg);
    color: white;
    background-size: cover;
    background-position: center; /* 画像を中央に配置する */
    text-align: center;
  }
    
  .btn:hover {
    opacity: 1;
  }
  
  .signup {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    background-color: #a9a9a9;
    border-radius: 5px;
  }
  
  .btn-wrapper p {
    margin:8px 20px;
    opacity: 0.8;
  }
  
  header {
    height:65px;
    background-color: rgba(34, 39, 52, 0.8);
  }
  
  .logo {
    width:65px;
  }

  .Butterfly {
    color: blueviolet;
  }
  
  .header-right {
    float: right;
    font-size:70px;
  }

  .MAIN {
    height: 1100px;
  }

  .MAIN-main {
    text-align:center;
  }


  .ul1 {
    color:grey;
    font-family:serif;
    background-color:black;
    width:200px;
  }

  .footer {
    background-color:chartreuse;
    height:270px
  }

  .footer-list {
    float:right;
    padding-right: 30px;
  }
